<h2> Edit Passenger Details </h2>
<p> Please fill out the below form to update Passenger's data. </p>

<%= render partial: "passengerform", locals: {
  form_class: "edit-passenger",
  action_name: "Update Passenger"
} %>

<%= link_to "Home", homepages_path %>
<%= link_to "All Passengers", passengers_path %>  