<article class="forms">
  <h2> Edit Passenger Details </h2>
  <p> Please enter passenger's data below: </p>

  <%= render partial: "passengerform", locals: {
    form_class: "edit-passenger",
    action_name: "Update Passenger"
  } %>

  <div>
    <p class="button"><%= link_to "All Passengers", passengers_path %></p>
  </div> 
</article>