<article>
  <div>
    <p class="button"><%= link_to "Add Passenger", new_passenger_path %></p>
  </div>
  <ul class="table-list">
      <% @passengers.each do |pass| %>
      <li>
        <a><%= link_to pass.name, passenger_path(pass.id) %></a>
      </li>
      <% end %>
  </ul>
</article>