<article class="forms">
  <h2> Edit Driver Details </h2>
  <p> Please enter driver's data below: </p>

  <%= render partial: "driverforms", locals: {
    form_class: "edit-driver",
    action_name: "Update Driver"
  } %>
  <div>
    <p class="button"><%= link_to "All Drivers", drivers_path %></p>
  </div>
</article>