<%= link_to "Home", homepages_path %>
<%= link_to "Add Driver", new_driver_path %> 

<ul class="drivers-list">
  <% @drivers.each do |driver| %>
    <li>
      <%= link_to driver.name, driver_path(driver.id) %>
    </li>
  <% end %>


